body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA; /* Light Turquoise Background */
    color: #0277BD; /* Darker turquoise for text */
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.form-buttons {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
}

.form-buttons .button {
    display: block; /* Make buttons block level for full width */
    margin: 10px auto; /* Center align buttons */
    padding: 15px 30px;
    background-color: #4CAF50; /* Green Background for Buttons */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center; /* Center align text in buttons */
}

.form-buttons .button:hover {
    background-color: #388E3C; /* Darker Green on Hover */
}

/* The media query might be redundant now as buttons are already full width */
@media only screen and (max-width: 600px) {
    .form-buttons .button {
        margin-bottom: 10px;
    }
}



/*Admin-form*/
.admin-form-container {
    background-color: #E0F7FA; /* Light Turquoise Background */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-form-container h2 {
    color: #0277BD;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #0277BD;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B2EBF2;
}

.pdf-button {
    background-color: #4CAF50; /* Green Background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pdf-button:hover {
    background-color: #388E3C;
}
